<div data-role="page" id="welcome-page">
	<div data-role="content">
		<h2>
			The Ultimate Scavenger Hunt
		</h2>
		<p>at Grounds for Sculpture</p>
		<div class="ui-grid-a">	
			<div class="ui-block-a">
				<a data-role="button" data-rel="dialog" href="tutorial.html">
					Tutorial
				</a>
			</div>
			<div class="ui-block-b">
				<%= link_to "Lets Go!", teams_path, :data => { :role => "button" } %>
			</div>
		</div>
	</div><!-- /content -->
</div><!-- /welcome-page -->
