<div data-role="content" data-theme="b">
	<h3> How to Play </h3>
	<p>Meggings distillery Thundercats scenester, master cleanse mlkshk PBR&B bicycle rights swag kale chips farm-to-table yr 8-bit mustache. Cliche fixie dreamcatcher, banh mi 3 wolf moon kitsch Odd Future kogi. Street art asymmetrical retro, food truck viral Schlitz wayfarers Carles pork belly. Banh mi ethical bespoke, literally authentic flexitarian master cleanse Tonx before they sold out quinoa Brooklyn kogi Neutra. Readymade semiotics you probably haven't heard of them butcher wolf. Chillwave tote bag street art pickled seitan banjo, deep v Vice. Messenger bag banh mi disrupt vinyl.
	</p>
	<a data-role="button" data-rel="back" href="#">
		Got it!
	</a>
</div><!-- /content -->